{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-shorthand-properties",
    ["@babel/plugin-transform-block-scoping", {"throwIfClosureRequired": true, "tdzEnabled": true}]
  ]
}
